// Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../../node_modules/bootstrap/scss/functions.scss";

@import "../../../../node_modules/bootstrap/scss/variables.scss";

@import "../../../../node_modules/bootstrap/scss/mixins.scss";

// Base colors variable
$dark-primary:  #556680;

// Theme colors
$custom-colors: (
    "dark-primary": $dark-primary,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// Custom gap for flex and grid
$gap:(
  "5": 5px,
  "10": 10px,
  "15": 15px,
  "20": 20px,
)