// Base colors variable
$dark-primary:  #556680;

// Theme colors
$custom-colors: (
    "header-dark": $dark-primary,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// Custom gap for flex and grid
$gap:(
  "5": 5px,
  "10": 10px,
  "15": 15px,
  "20": 20px,
)