// main.scss

// Colors
$blue:    #0d6efd;
$dark-blue: #1a2e4c;
$light: #22699f;
$light-gray: #dfe6e939;

// Base colors variable
$primary: $dark-blue;
$primary-light: $light;
$secondary: $dark-blue;
$success: $dark-blue;
$info: $dark-blue;
$warning: $dark-blue;
$danger: $dark-blue;
$light: $light-gray;
$dark: $dark-blue;

// Shadows
$shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.8);

// Navbar colors
$navbar-dark-color: #000000;
$navbar-dark-hover-color: #000;
$navbar-dark-active-color: #222;

// Theme colors
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

// Fonts & size
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

// Custom margin & padding
.custom-margin-bottom {
  margin-bottom: 20px;
}

// Container adjustments
.container-fluid {
  gap: 15px;
}

// Flex adjustments
.d-flex {
  gap: 25px;
}

// Card customize 
$card-box-shadow: $shadow;

// Custom styling of elements 
:root {
  /* === Root font sizing === */
  --fontSize-default: clamp(16px, 2vw, 24px);
  --fontSize-x-small: clamp(14px, 1vw, 18px);
  --fontSize-small: clamp(12px, 1.5vw, 18px);
  --fontSize-medium: clamp(24px, 3vw, 36px);
  --fontSize-large: clamp(38px, 4vw, 55px);
  --fontSize-x-large: clamp(50px, 5vw, 68px);

  /* === Shadows === */
  --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.8);
  --box-shadow-2: 0px 4px 10px 2px rgba(0, 0, 0, 0.5),
      0px 4px 10px 0px rgba(0, 0, 0, 0.8);
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* ===  Feedback handling ===  */
  --clr-prim: hsla(195, 100%, 40%, 0.35);
  --prim-bor: var(--border) #0099cc;

  --clr-warn: hsla(32, 100%, 50%, 0.35);
  --warn-bor: var(--border) #ff8800;

  --clr-err: hsla(0, 100%, 40%, 0.35);
  --err-bor: var(--border) #cc0000;

  --clr-ok: hsla(144, 100%, 25%, 0.35);
  --ok-bor: var(--border) #007e33;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ======================
           BODY
  ====================== */

body {
  display: grid;
  grid-template-rows: auto 1fr auto;

  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  background-color: $blue;
}

main {
  margin: 30px;
}

footer {
  background-color: $blue;
}

/* ======================
        HTML ELEMENTS
  ====================== */
form {
  gap: 20px;
}

/* ======================
        TYPOGRAPHY
  ====================== */

/* ======================
        CUSTOM CLASSES
  ====================== */

.logo {
  width: 35px;
}


.custom-flex {
  justify-content: space-between;
  align-items: center;
}

// Log in form
.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login-form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 2px;
  padding: 30px;
}

.login-form-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.login-form-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  background-color: $primary-light;
}

// Feed content
.feed-container,
.feed-container-2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.feed-content {
  padding: 10px;
}

.image-small {
  margin-bottom: 10px;
  width: 100px;
}

.hidden {
  display: none;
}

// Include any default variable overrides here (though functions won't be available)
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

