// main.scss
$primary: #2b1313;
$danger: rgb(210, 108, 19);

$theme-colors: (
  "primary": $primary,
  "danger": $danger
);

// Custom styling of elements 
:root {
  /* === Root font sizing === */
  --fontSize-default: clamp(16px, 2vw, 24px);
  --fontSize-x-small: clamp(14px, 1vw, 18px);
  --fontSize-small: clamp(12px, 1.5vw, 18px);
  --fontSize-medium: clamp(24px, 3vw, 36px);
  --fontSize-large: clamp(38px, 4vw, 55px);
  --fontSize-x-large: clamp(50px, 5vw, 68px);

  /* === Root font === */
  --font-heading: ;
  --font-body: ;
  --font-button: ;
  --font-link: ;

  /* === Shadows === */
  --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.8);
  --box-shadow-2: 0px 4px 10px 2px rgba(0, 0, 0, 0.5),
      0px 4px 10px 0px rgba(0, 0, 0, 0.8);
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* === Colors === */
  --main-clr: #011335;
  --sec-clr: #133501;

  --text-clr: ;
  --link-clr: ;

  --main-bg-clr: ;

  /* ===  Feedback handling ===  */
  --clr-prim: hsla(195, 100%, 40%, 0.35);
  --prim-bor: var(--border) #0099cc;

  --clr-warn: hsla(32, 100%, 50%, 0.35);
  --warn-bor: var(--border) #ff8800;

  --clr-err: hsla(0, 100%, 40%, 0.35);
  --err-bor: var(--border) #cc0000;

  --clr-ok: hsla(144, 100%, 25%, 0.35);
  --ok-bor: var(--border) #007e33;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ======================
           BODY
  ====================== */

body {
  display: grid;
  grid-template-rows: auto 1fr auto;

  height: 100vh;
  margin: 0;
  padding: 0;


  color: var(--text-clr);
  font-size: var(--fontSize-default);
  font-family: var(--font-heading);
}

/* ======================
        TYPOGRAPHY
  ====================== */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-family: var(--font-heading);
      color: var(--main-clr);
      margin: 0;
      padding: 0;
  }
  
  h1 {
      font-size: var(--fontSize-x-large);
  }
  
  h2 {
      font-size: var(--fontSize-large);
  }
  
  h3 {
      font-size: var(--fontSize-medium);
  }
  
  a {
      cursor: pointer;
      text-decoration: none;
  }

/* ======================
        CUSTOM CLASSES
  ====================== */

.c-flex {
  justify-content: space-between;
  align-items: center;
}

.custom-container {
  padding: 20px;
  border: 1px solid black;
}








// Include any default variable overrides here (though functions won't be available)
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

