/* Error: Undefined variable.
 *   ,
 * 9 | $theme-colors: map-merge($theme-colors, $custom-colors);
 *   |                          ^^^^^^^^^^^^^
 *   '
 *   src\style\scss\custom\_variables.scss 9:26  @use
 *   src\style\scss\main.scss 3:1                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 9 \2502  $theme-colors: map-merge($theme-colors, $custom-colors);\d\a   \2502                           ^^^^^^^^^^^^^\a   \2575 \a   src\\style\\scss\\custom\\_variables.scss 9:26  @use\a   src\\style\\scss\\main.scss 3:1                root stylesheet";
}
