// main.scss

// Custom gap
@each $name, $gap in variables.$gap {
  .gap-#{$name}{
    gap: $gap;
  }
} 

*,
*::before,
*::after {
  scroll-behavior: smooth;
}

/* ======================
           BODY
  ====================== */

body {
  display: grid;
  grid-template-rows: auto 1fr auto;

  height: 100vh;
  margin: 0;
  padding: 0;
}

/* ======================
        HTML ELEMENTS
  ====================== */
form {
  gap: $gap-20;
}

/* ======================
        TYPOGRAPHY
  ====================== */

/* ======================
        CUSTOM CLASSES
  ====================== */

.logo {
  width: 35px;
}

.custom-flex {
  justify-content: space-between;
  align-items: center;
}

// Log in form
.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 2px;
}

.login-form-left {
  display: flex;
  flex-direction: column;
  gap: $gap-20;
}

.login-form-right {
  display: flex;
  flex-direction: column;
  gap: $gap-20;
}

// Feed content
.feed-container,
.feed-container-2 {
  display: flex;
  flex-direction: column;
  gap: $gap-15;
}

.image-small {
  width: 100px;
}

.hidden {
  display: none;
}

// Include any default variable overrides here (though functions won't be available)
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../node_modules/bootstrap/scss/functions.scss";

// Importing own scss files
@import "./custom/variables"